<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <h1>Author : <%= author %></h1> 
    <h4>Seconds : <%= seconds %></h4> 
    <%- content %> 
    <ul>
        <% if (seconds%2==0) { %>
            <% for (let i = 0; i < fruit.length; i++) { %>
                <% const element = fruit[i]; %>
                <li>Seconds : <%= element %></li> 
            <% } %>
        <% } else { %>
            odd
        <% } %>
    </ul>

    <%- include("footer.ejs") %> 

</body>
</html>
